!!! 5
%html
  %head
    %title
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .well-sm
      %center
        %img.img-circle= image_tag("logo.png", alt: "Example Image", :height => "136", :width => "204")

    .container-fluid

      %header

        =yield


      %hr

      %footer